SECRET_KEY = ""

DEBUG = True

# TRACING
LANGCHAIN_API_KEY = ""
LANGCHAIN_PROJECT = ""
LANGCHAIN_TRACING_V2 = "true"

# SPLITTER
TEXT_SPLITTER_CHUNK_SIZE = 1200
TEXT_SPLITTER_CHUNK_OVERLAP_SIZE = 200

# PINECONE
PINECONE_API_KEY = ""
PINECONE_HOST_URL = ""

PINECONE_NAMESPACE = "Files"

PINECONE_DENSE_EMBEDDING_MODEL = 'llama-text-embed-v2'
PINECONE_SPARSE_EMBEDDING_MODEL = 'pinecone-sparse-english-v0'
PINECONE_RERANK_MODEL = 'bge-reranker-v2-m3'

PINECONE_EMBED_BATCH_SIZE = 88
PINECONE_UPSERT_BATCH_SIZE = 100

# RETRIEVAL
RETRIEVAL_TOP_K = 10
RERANK_TOP_N = 5
RET_SUMMARY_TOP_K = 15
RE_SUMMARY_TOP_N = 10

# GOOGLE
GOOGLE_API_KEY = ''
GEMINI_MODEL_PRO = gemini-2.5-pro
GEMINI_MODEL_FLASH = gemini-2.5-flash
GEMINI_MODEL_FLASH_LITE = gemini-2.5-flash-lite
GOOGLE_CHAT_COMPLETION_TEMPERATURE = 0.5

IMAGE_MODEL = gemini-2.5-flash-lite

# GROQ
GROQ_API_KEY = ''
GROQ_MODEL_LLAMA_70B = llama-3.3-70b-versatile
GROQ_MODEL_LLAMA_8B = llama-3.1-8b-instant
GROQ_MODEL_GPT_OSS = openai/gpt-oss-120b
GROQ_CHAT_COMPLETION_TEMPERATURE = 0.5


# DATABASE
DATABASE_ENGINE = 'django.db.backends.postgresql'
DATABASE_NAME = your app name
DATABASE_USER = postgres
DATABASE_PASSWORD = your password
DATABASE_HOST = localhost
DATABASE_PORT = 5432

# SERPER
SERPER_API_KEY = ''
SERPER_MAX_RESULTS = 6
SERPER_ENDPOINT = ''

# AI ASSISTANT SYSTEM PROMPT
AI_ASSISTANT_SYSTEM_PROMPT = "You are TechnoChat Global AI, a helpful and knowledgeable assistant. Answer using your own trained knowledge. No documents are provided. Answer clearly and accurately. For code requests provide working well-commented examples. If unsure say so honestly. Do not reference uploaded documents."

# PAGE RENDER DPI
PAGE_RENDER_DPI = 150
PAGE_RENDER_FORMAT = 'png'

# IMAGE GENERATION
KIE_API_KEY = " "

OPENAI_TEXT_IMAGE_MODEL = "gpt-image/1.5-text-to-image"
OPENAI_IMAGE_MODEL = "4o-image-api"